<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaosama.HisSystem.dao.MedicineMapper" >
    <resultMap id="BaseResultMap" type="com.xiaosama.HisSystem.pojo.po.Medicine">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="packing_unit" property="packingUnit" jdbcType="CHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="manuerfacture" property="manuerfacture" jdbcType="VARCHAR" />
    <result column="dosage_form" property="dosageForm" jdbcType="CHAR" />
    <result column="drug_type" property="drugType" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, name, specification, packing_unit, unit_price, manuerfacture, dosage_form, 
    drug_type, create_time
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.xiaosama.HisSystem.pojo.po.MedicineExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medicine
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.xiaosama.HisSystem.pojo.po.MedicineExample">
    delete from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.xiaosama.HisSystem.pojo.po.Medicine">
    insert into medicine (id, code, name, 
      specification, packing_unit, unit_price, 
      manuerfacture, dosage_form, drug_type, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{packingUnit,jdbcType=CHAR}, #{unitPrice,jdbcType=DECIMAL}, 
      #{manuerfacture,jdbcType=VARCHAR}, #{dosageForm,jdbcType=CHAR}, #{drugType,jdbcType=CHAR}, 
      #{createTime,jdbcType=DATE})
  </insert>
    <insert id="insertSelective" parameterType="com.xiaosama.HisSystem.pojo.po.Medicine">
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="packingUnit != null" >
        packing_unit,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="manuerfacture != null" >
        manuerfacture,
      </if>
      <if test="dosageForm != null" >
        dosage_form,
      </if>
      <if test="drugType != null" >
        drug_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="packingUnit != null" >
        #{packingUnit,jdbcType=CHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="manuerfacture != null" >
        #{manuerfacture,jdbcType=VARCHAR},
      </if>
      <if test="dosageForm != null" >
        #{dosageForm,jdbcType=CHAR},
      </if>
      <if test="drugType != null" >
        #{drugType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.xiaosama.HisSystem.pojo.po.MedicineExample"
            resultType="java.lang.Integer">
    select count(*) from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medicine
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=CHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null" >
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.packingUnit != null" >
        packing_unit = #{record.packingUnit,jdbcType=CHAR},
      </if>
      <if test="record.unitPrice != null" >
        unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.manuerfacture != null" >
        manuerfacture = #{record.manuerfacture,jdbcType=VARCHAR},
      </if>
      <if test="record.dosageForm != null" >
        dosage_form = #{record.dosageForm,jdbcType=CHAR},
      </if>
      <if test="record.drugType != null" >
        drug_type = #{record.drugType,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medicine
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      packing_unit = #{record.packingUnit,jdbcType=CHAR},
      unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      manuerfacture = #{record.manuerfacture,jdbcType=VARCHAR},
      dosage_form = #{record.dosageForm,jdbcType=CHAR},
      drug_type = #{record.drugType,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaosama.HisSystem.pojo.po.Medicine">
    update medicine
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="packingUnit != null" >
        packing_unit = #{packingUnit,jdbcType=CHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="manuerfacture != null" >
        manuerfacture = #{manuerfacture,jdbcType=VARCHAR},
      </if>
      <if test="dosageForm != null" >
        dosage_form = #{dosageForm,jdbcType=CHAR},
      </if>
      <if test="drugType != null" >
        drug_type = #{drugType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.xiaosama.HisSystem.pojo.po.Medicine">
    update medicine
    set code = #{code,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      packing_unit = #{packingUnit,jdbcType=CHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      manuerfacture = #{manuerfacture,jdbcType=VARCHAR},
      dosage_form = #{dosageForm,jdbcType=CHAR},
      drug_type = #{drugType,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>