<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaosama.HisSystem.dao.RegisterLevelMapper" >
    <resultMap id="BaseResultMap" type="com.xiaosama.HisSystem.pojo.po.RegisterLevel">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="is_show_order" property="isShowOrder" jdbcType="BIT" />
    <result column="day_limit" property="dayLimit" jdbcType="INTEGER" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, name, is_show_order, day_limit, fee
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.xiaosama.HisSystem.pojo.po.RegisterLevelExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from register_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from register_level
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from register_level
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.xiaosama.HisSystem.pojo.po.RegisterLevelExample">
    delete from register_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.xiaosama.HisSystem.pojo.po.RegisterLevel">
    insert into register_level (id, code, name, is_show_order, 
      day_limit, fee)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{isShowOrder,jdbcType=BIT}, 
      #{dayLimit,jdbcType=INTEGER}, #{fee,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="com.xiaosama.HisSystem.pojo.po.RegisterLevel">
    insert into register_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isShowOrder != null" >
        is_show_order,
      </if>
      <if test="dayLimit != null" >
        day_limit,
      </if>
      <if test="fee != null" >
        fee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="isShowOrder != null" >
        #{isShowOrder,jdbcType=BIT},
      </if>
      <if test="dayLimit != null" >
        #{dayLimit,jdbcType=INTEGER},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.xiaosama.HisSystem.pojo.po.RegisterLevelExample"
            resultType="java.lang.Integer">
    select count(*) from register_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update register_level
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=CHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.isShowOrder != null" >
        is_show_order = #{record.isShowOrder,jdbcType=BIT},
      </if>
      <if test="record.dayLimit != null" >
        day_limit = #{record.dayLimit,jdbcType=INTEGER},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update register_level
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=CHAR},
      name = #{record.name,jdbcType=CHAR},
      is_show_order = #{record.isShowOrder,jdbcType=BIT},
      day_limit = #{record.dayLimit,jdbcType=INTEGER},
      fee = #{record.fee,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaosama.HisSystem.pojo.po.RegisterLevel">
    update register_level
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="isShowOrder != null" >
        is_show_order = #{isShowOrder,jdbcType=BIT},
      </if>
      <if test="dayLimit != null" >
        day_limit = #{dayLimit,jdbcType=INTEGER},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.xiaosama.HisSystem.pojo.po.RegisterLevel">
    update register_level
    set code = #{code,jdbcType=CHAR},
      name = #{name,jdbcType=CHAR},
      is_show_order = #{isShowOrder,jdbcType=BIT},
      day_limit = #{dayLimit,jdbcType=INTEGER},
      fee = #{fee,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>